#toggleTracking {
	display: block;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
}

#coords {
	margin: 0.5em;
	padding: 0.5em;
	border: 2px solid #666;
	border-radius: 1em;
}

#map_canvas {
	height: 500px;
}